<DModalBody @title="onlyoffice_create_form.title" @class="onlyoffice-create-modal" @style="overflow: auto">

  <div class="form">
    {{#if this.isValid}}
      <div class="preview alert alert-info">
        Placeholder text info
      </div>
    {{else}}
      <div class="validation-error alert alert-error">
        Placeholder text error
      </div>
    {{/if}}

    <div>
      ONLYOFFICE
    </div>
  </div>

</DModalBody>

<div class="modal-footer onlyoffice-create-modal-footer">
  {{#if this.isValid}}
    <DButton
      @class="btn-primary"
      @action={{action "create"}}
      @translatedLabel={{i18n "create"}} />
  {{/if}}

  <DButton
    @class="btn-flat"
    @action={{action "cancel"}}
    @translatedLabel={{i18n "cancel"}} />
</div>
