<DModal
  @title={{i18n "onlyoffice_permissions.title"}}
  @closeModal={{@closeModal}}
  class="onlyoffice-permissions-modal"
>
  <:body>
    <div class="onlyoffice-permissions-form">
      {{#if this.isLoading}}
        <div class="spinner-container">
          <span class="spinner"></span>
        </div>
      {{else}}
        <div class="add-permission-section">
          <h3>{{i18n "onlyoffice_permissions.add_user"}}</h3>

          <div class="user-search">
            <input
              type="text"
              placeholder={{i18n "onlyoffice_permissions.search_users"}}
              value={{this.searchTerm}}
              {{on "input" this.handleSearchInput}}
              class="user-search-input"
            />

            {{#if this.searchResults.length}}
              <div class="search-results">
                {{#each this.searchResults as |user|}}
                  <div
                    class="search-result-item"
                    role="button"
                    {{on "click" (fn this.selectUser user)}}
                  >
                    <img
                      src={{user.avatar_template}}
                      alt={{user.username}}
                      class="avatar"
                    />
                    <span class="username">{{user.username}}</span>
                    {{#if user.name}}
                      <span class="name">{{user.name}}</span>
                    {{/if}}
                  </div>
                {{/each}}
              </div>
            {{/if}}
          </div>

          <div class="permission-toggle">
            <label class="toggle-label">
              <input
                type="checkbox"
                checked={{this.canEdit}}
                {{on "change" this.toggleCanEdit}}
                class="toggle-checkbox"
              />
              <span class="toggle-switch"></span>
              <span class="toggle-text">{{i18n "onlyoffice_permissions.can_edit"}}</span>
            </label>
          </div>

          <DButton
            @action={{this.addPermission}}
            @label="onlyoffice_permissions.add_button"
            @disabled={{not this.selectedUserId}}
            class="btn-primary add-permission-btn"
          />
        </div>

        <div class="permissions-list">
          <h3>{{i18n "onlyoffice_permissions.current_permissions"}}</h3>

          {{#if this.permissions.length}}
            <div class="permissions-table">
              {{#each this.permissions as |permission|}}
                <div class="permission-row">
                  <div class="user-info">
                    <img
                      src={{permission.user.avatar_template}}
                      alt={{permission.user.username}}
                      class="avatar"
                    />
                    <div class="user-details">
                      <span class="username">{{permission.user.username}}</span>
                      {{#if permission.user.name}}
                        <span class="name">{{permission.user.name}}</span>
                      {{/if}}
                    </div>
                  </div>

                  <div class="permission-controls">
                    <label class="toggle-label inline">
                      <input
                        type="checkbox"
                        checked={{eq permission.permission_type "editor"}}
                        {{on "change" (fn this.togglePermission permission.id permission.permission_type)}}
                        class="toggle-checkbox"
                      />
                      <span class="toggle-switch"></span>
                      <span class="toggle-text">{{i18n "onlyoffice_permissions.can_edit"}}</span>
                    </label>

                    <DButton
                      @action={{fn this.removePermission permission.id}}
                      @icon="trash-can"
                      class="btn-danger btn-icon"
                      title={{i18n "onlyoffice_permissions.remove"}}
                    />
                  </div>
                </div>
              {{/each}}
            </div>
          {{else}}
            <p class="no-permissions">{{i18n
                "onlyoffice_permissions.no_permissions"
              }}</p>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </:body>

  <:footer>
    <DButton @action={{this.cancel}} @label="Close" class="btn-flat" />
  </:footer>
</DModal>